<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/top_head') %>
  <title>Edición de productos</title>
  <%- include('../partials/bottom_head') %>
  <body>
    <%- include('../partials/header') %>
    <main id="createNewProductMain">
      <form action="/productos/actualizar?m=PUT" method="post" enctype = "multipart/form-data" id="createNewProductForm">
        <input type = "hidden" name = "sku" value = <%= product.sku%>>
        <h1 class="createNewProductTitles">Edición de productos</h1>
        <input
          type="file"
          name="imageOfCreatedProduct"
          id="createNewProductDesign"
          style="display: none"
          accept=".jpg, .png"
          multiple

        />
        <label for="createNewProductDesign" class="c_eButton" id="filesButton"
          >Modificar boceto del diseño</label
        >
        <!-- <input type="file" name="uploadfile" id="img" style="display: none" />
        <label for="img">Click me to upload image</label> -->
        <!-- Nombre del producto -->
        <input
          type="text"
          name="nombre"
          id="createNewProductName"
          value="<%= product.name%>"
          placeholder="Nuevo nombre del producto"
          class="createNewProductCampos"
          required
        />
        <!-- Descripción  -->
        <textarea
          type="text"
          name="descripcion"
          id="c_eDescripcion"
          placeholder="Nueva descripción del producto"
          maxlength="280"
          class="createNewProductCampos"
          required
        ><%= product.description %> </textarea>
        <!-- Imagen -->
        <!-- Características -->
        <section id="caracteristicasProductoCreado">
          <h2 class="createNewProductTitles">
            Modificar características del producto
          </h2>
          <!-- Colores -->
          <div id="characteristicArticles">
            <article class="createNewProductcharacteristic">
              <label class="createNewProductSubtitles"
                >Modifique el color</label
              >
              <select name="color" class="c_eButton" required>
                <!-- MODIFICAR LOS VALUE POR EL COLOR EN TEXTO -->
                <option value="painted"<% if (product.color == 'painted') {%>selected<%}%> >Pintado</option>
                <option value="not painted"<% if (product.color == 'not painted') {%>selected<%}%>>No pintado</option>
                <!-- <option value="blue"<% if (product.color == 'blue') {%>selected<%}%>>Azul</option> -->
              </select>
            </article>
            <!-- Tamaños -->
            <article class="createNewProductcharacteristic">
              <label class="createNewProductSubtitles"
                >Modifique la medida</label
              >
              <select name="medida" class="c_eButton" required>
                <option value="small" <% if (product.size == 'small') {%>selected <% }%>>Pequeño</option>

                <option value="big"<% if (product.size == 'big') {%>selected <% }%>>Grande</option>
              </select>
            </article>
          </div>
        </section>
        <!-- Precio -->
        <section id="precioProductoCreado">
          <p>$</p>
          <input
            type="number"
            name="precio"
            id="createNewProductPrice"
            value="<%= product.price%>"
            placeholder="Nuevo precio"
            class="createNewProductCampos"
            required
          />
        </section>
        <section id="botonProductoCreado">
          <button type="submit" class="c_eButton">Guardar cambios</button>
          <button type="reset" class="c_eButton">Reiniciar formulario</button>
        </section>
      </form>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
