<!DOCTYPE html>
<html lang="en">

<head>
  <title>Hanyou - Editar Producto</title>
  <link rel="stylesheet" href="/css/editProduct.css" />
  <%- include('../partials/head') %>
</head>

<body>
  <%- include('../partials/header') %>
    <main id="editProductMain">
      <form action="/productos/actualizar?m=PUT" method="post" enctype="multipart/form-data" id="editProductForm">
        <input type="hidden" name="sku" value="<%= product.sku %>" />
        
        <h1 id="editProductTitles">Edición de productos</h1>
        
        <input type="file" name="image" id="createNewProductDesign" style="display: none" accept=".jpg, .png"
          multiple />
        <label for="createNewProductDesign" class="eButton" id="editFilesButton">Modificar boceto del diseño</label>
        <% if (locals.errors && locals.errors.image) {%>
          <p><%= locals.errors.image.msg %></p>
          <% } %>
        <!-- <input type="file" name="uploadfile" id="img" style="display: none" />
        <label for="img">Click me to upload image</label> -->
        
        <!-- Nombre del producto -->
        <input type="text" name="name" id="createNewProductName" value="<%= product.name%>"
          placeholder="Nuevo nombre del producto" class="editProductCampos"  />
          <% if (locals.errors && locals.errors.name) {%>
            <p><%= locals.errors.name.msg %></p>
            <% } %>
        
            <!-- Descripción  -->
        <textarea type="text" name="description" id="c_eDescripcion" placeholder="Nueva descripción del producto"
          maxlength="280" class="editProductCampos" ><%= product.description %> </textarea>
          <% if (locals.errors && locals.errors.description) {%>
            <p><%= locals.errors.description.msg %></p>
            <% } %>
        
            <!-- Imagen -->
        <!-- Características -->
        <section id="caracteristicasProductoEdit">
          <h2 id="editProductSubtitles">
            Modificar características del producto
          </h2>
          <!-- Colores -->
          <div id="characteristicArticles">
            <article id="editProductcharacteristic">
              <label class="editProductSubtitles">Modifique el color</label>
              <select name="color" class="eButton" required>
                <!-- MODIFICAR LOS VALUE POR EL COLOR EN TEXTO -->
                <option value="painted" <% if (product.color=='painted' ) {%>selected<%}%> >Pintado</option>
                <option value="not painted" <% if (product.color=='not painted' ) {%>selected<%}%>>No pintado</option>
                <!-- <option value="blue"<% if (product.color == 'blue') {%>selected<%}%>>Azul</option> -->
              </select>
            </article>
            <!-- Tamaños -->
            <article id="editProductcharacteristic">
              <label class="editProductSubtitles">Modifique la medida</label>
              <select name="size" class="eButton" required>
                <option value="1" <% if (product.size=='1' ) {%>selected <% }%>>Pequeño</option>

                <option value="2" <% if (product.size=='2' ) {%>selected <% }%>>Grande</option>
              </select>
            </article>
          </div>
        </section>
        <!-- Precio -->
        <section id="precioProductoEdit">
          <input type="number" name="price" id="editProductPrice" value=<%=product.price %>
          placeholder="Nuevo precio"
          class = "editProductCampos"
          step="any"
      
          />
        </section>
        <% if (locals.errors && locals.errors.price) {%>
          <p><%= locals.errors.price.msg %></p>
          <% } %>
        <section id="addIndex">
          <input type="checkbox" name="index" <% if (product.index=='1' ) {%> checked <%} %>/>
            <label for="index">Agregar a "Productos Destacados"</label>
        </section>
        <div id="errors">
          <ul>
          </ul>
        </div>
        <section id="botonProductoEdit">
          <button type="submit" class="eButton">Guardar cambios</button>
          <button type="reset" class="eButton">Reiniciar formulario</button>
        </section>
      </form>
    </main>
    <%- include('../partials/footer') %>

    <script defer src="/js/updateProduct.js"></script>

</body>

</html>