<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/top_head') %>
    <title>Productos seleccionados</title>
    <%- include('../partials/bottom_head') %>
  </head>
  <body>
    <%- include('../partials/header') %>

    <main>
      <section class="mainSection">
        <!--Todos los Productos-->

        <% for (i=0; i<2; i++) {%> <%- include('../partials/productBar') %> <% }
        %>

        <div class="actions">
          <button id="seguirComprando">Seguir comprando</button>

          <button id="comprar">Ir a pagar</button>
        </div>
      </section>
    </main>

    <%- include('../partials/footer') %>
  </body>
</html>
