<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Hanyou - Crear Producto</title>
    <link rel="stylesheet" href="/css/createNewProduct.css" />
    <script defer src="/js/createProduct.js"></script>
    <%- include('../partials/head') %>
  </head>

  <body>
    <%- include('../partials/header') %>
    <main id="createNewProductMain">
      <form
        action="/productos/guardar"
        method="post"
        enctype="multipart/form-data"
        id="createNewProductForm"
      >
        <h1 class="createNewProductTitles">Creación de productos</h1>

        <input
          type="file"
          name="image"
          id="createNewProductDesign"
          style="display: none"
          accept=".jpg, .png, .jpeg, .gif"
          multiple
        />
        <label for="createNewProductDesign" class="c_eButton" id="filesButton"
          >Cargar imagen del producto</label
        >
        <% if (locals.errors && locals.errors.image) {%>
        <p><%= locals.errors.image.msg %></p>
        <% } %>
        <!-- <input type="file" name="uploadfile" id="img" style="display: none" />
        <label for="img">Click me to upload image</label> -->
        <div id="imgErrors">
          <ul></ul>
        </div>

        <!-- Nombre del producto -->
        <input
          type="text"
          name="name"
          id="createNewProductName"
          placeholder="Nombre del producto"
          class="createNewProductCampos"
          value="<%= locals.errors && !locals.errors.name && locals.data ? data.name : null %>"
        />
        <% if (locals.errors && locals.errors.name) {%>
        <p><%= locals.errors.name.msg %></p>
        <% } %>
        <div id="nameErrors">
          <ul></ul>
        </div>
        <!-- Descripción  -->
        <textarea
          type="text"
          name="description"
          id="c_eDescripcion"
          placeholder="Descripción del producto"
          class="createNewProductCampos"
        >
<%= locals.errors && !locals.errors.description && locals.data ? data.description : null %></textarea
        >
        <% if (locals.errors && locals.errors.description) {%>
        <p><%= locals.errors.description.msg %></p>
        <% } %>
        <!-- Imagen -->
        <!-- Características -->
        <section id="caracteristicasProductoCreado">
          <h2 class="createNewProductTitles">Características del producto</h2>
          <!-- Colores -->
          <div id="characteristicArticles">
            <article class="createNewProductcharacteristic">
              <label class="createNewProductSubtitles"
                >Seleccione un color</label
              >
              <select name="color" class="c_eButton" required>
                <option value="painted">Pintado</option>
                <option value="not painted">No pintado</option>
              </select>
            </article>
            <!-- Tamaños -->
            <article class="createNewProductcharacteristic">
              <label class="createNewProductSubtitles"
                >Seleccione una medida</label
              >
              <select name="size" class="c_eButton" required>
                <option value="1">Pequeño</option>
                <option value="2">Grande</option>
              </select>
            </article>
          </div>
        </section>
        <!-- Precio -->
        <section id="precioProductoCreado">
          <p>$</p>
          <input
            type="number"
            name="price"
            id="createNewProductPrice"
            placeholder="Precio"
            class="createNewProductCampos"
            step="any"
            value="<%= locals.errors && !locals.errors.price && locals.data ? data.price : null %> "
          />
        </section>
        <% if (locals.errors && locals.errors.price) {%>
        <p><%= locals.errors.price.msg %></p>
        <% } %>
        <section id="addIndex">
          <input type="checkbox" name="index" value="1" />
          <label for="index">Agregar a "Productos Destacados"</label>
        </section>
        <div id="errors">
          <ul></ul>
        </div>
        <section id="botonProductoCreado">
          <button type="submit" class="c_eButton">Crear producto</button>
          <button type="reset" class="c_eButton">Reiniciar formulario</button>
        </section>
      </form>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
