<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/top_head') %>
    <title>Bienvenido a Hanyou</title>
    <%- include('./partials/bottom_head') %>
  </head>
  <body>
    <%- include('./partials/header') %>
    <main>
      <!--Banner Principal-->
      <figure id="mainBanner">
        <img src="/img/banner_2.png" alt="Banner" id="banner" />
      </figure>

      <!--Productos principales-->
      <section id="mainProducts">
        <h2>Productos destacados</h2>
        <ul id="productosIndex">
          <% for (i=0; i<3; i++) {%> <%- include('./partials/productCards') %>
          <% } %>
        </ul>
      </section>
    </main>

    <%- include('./partials/footer') %>
  </body>
</html>
