<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Hanyou - Iniciar sesión</title>
    <link rel="stylesheet" href="/css/login.css" />
    <%- include('../partials/head') %>
  </head>

  <body>
    <%- include('../partials/header') %>
    <main id="loginForm">
      <form action="/access" method="post" id="loginBox">
        <input
          type="text"
          name="userName"
          placeholder="Correo electrónico"
          class="camposLogin"
          value="<%= locals.errors && !locals.errors.userName && locals.data ? data.userName : null %> "
        />
        <% if (locals.errors && locals.errors.userName) {%>
        <p><%= locals.errors.userName.msg %></p>
        <% } %>
        <input
          type="password"
          name="password"
          placeholder="Contraseña"
          class="camposLogin"
        />
        <% if (locals.errors && locals.errors.password) {%>
        <p><%= locals.errors.password.msg %></p>
        <% } %>
        <label>
          <input type="checkbox" name="remember" value="true" /> Recordar mi
          usuario y contraseña
        </label>
        <a href="/recuperarContrasena" id="olvideContraseña"
          >¡Olvidé mi contraseña!</a
        >
        <button type="submit" class="lButton">Iniciar sesión</button>
        <p>¿No tenés cuenta?</p>
        <a href="/register" class="lButton"><div>Crear cuenta</div></a>
      </form>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
