<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Hanyou - Mi perfil</title>
    <link rel="stylesheet" href="/css/profile.css"/>
    <%- include('../partials/head') %>
  </head>

  <body>
    <%- include('../partials/header') %>

    <main id="main-profile">
      <section id="firstSection-profile" class="sectionProfile">
        <img src="/img/users/<%= activeUser.avatar %> " alt="Producto" id="avatar" />
      </section>
      <section class="sectionProfile">
        <nav id="userData">
          <p id="nombreUsuario">
            Hola <%= `${activeUser.firstName} ${activeUser.lastName}` %>
          </p>
          <p id="emailUsuario">Email registrado: <%= activeUser.email %></p>
        </nav>
      </section>
    </main>

    <%- include('../partials/footer') %>
  </body>
</html>
