<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Hanyou - Mi perfil</title>
    <link rel="stylesheet" href="/css/profile.css" />
    <%- include('../partials/head') %>
  </head>

  <body>
    <%- include('../partials/header') %>

    <main id="main-profile">
      <section id="firstSection-profile" class="sectionProfile">
        <img
          src="/img/users/<%= activeUser.avatar %> "
          alt="Producto"
          id="avatar"
        />
      </section>
      <section class="sectionProfile">
        <nav id="userData">
          <p id="nombreUsuario">
            Hola <%= `${activeUser.firstName} ${activeUser.lastName}` %>
          </p>
          <p class="detalleUsuario">
            Email registrado: <%= activeUser.email %>
          </p>
          <% if (user.adminType) {%>
          <p class="detalleUsuario">Perfil administrador</p>
          <% } %>
        </nav>

        <form action="/destroy?m=DELETE" method="post" id="destroyUserForm">
          <input type="hidden" name="id" value="<%= activeUser.id %>" />

          <button type="submit" id="destroyUserButton">Eliminar usuario</button>
        </form>
      </section>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
